<section class="mb-6 px-4">
  <div
    class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6 2xl:col-span-2">
    <!-- START: Card Header -->
    <div class="mb-4 flex items-center justify-between border-b border-gray-200 pb-4 dark:border-gray-700">
      <h3 class="text-lg font-semibold text-gray-800 dark:text-white"><%= tr("presence:CONFIG_TITLE") %></h3>
    </div>
    <!-- END: Card Header -->

    <form x-data="{ 
      formData: {
        status: '<%= config.STATUS %>',
        type: '<%= config.TYPE %>',
        message: '<%= config.MESSAGE %>'
      },
      saving: false,
      submitForm() {
        if (this.saving) return;
        this.saving = true;
        fetch(window.location.href, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(this.formData)
        })
        .then(response => {
          if (response.ok) {
            Alpine.store('toast').show('<%=tr(`CONFIG_SAVE`)%>', 'success');
          } else {
            throw new Error('Update failed');
          }
        })
        .catch(error => {
          Alpine.store('toast').show('<%=tr(`CONFIG_SAVE_ERROR`)%>', 'error');
        })
        .finally(() => {
          this.saving = false;
        });
      }
    }" @submit.prevent="submitForm">
      <!-- START: Card Body -->
      <div class="mb-3">
        <div class="grid gap-4 md:grid-cols-2 xl:grid-cols-2">
          <!-- START: Column 1 -->
          <div>
            <div class="mb-2">
              <label for="status" class="text-sm font-semibold text-gray-900 dark:text-white"
                ><%= tr("presence:STATUS") %></label
              >
              <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                <%= tr("presence:STATUS_DESC") %>
              </div>
            </div>
            <select
              x-model="formData.status"
              name="status"
              id="status"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
              <option selected="selected"><%= config.STATUS.toUpperCase() %></option>
              <% if(config.STATUS !== "online") { %>
              <option value="online">ONLINE</option>
              <% } %> <% if(config.STATUS !== "idle") { %>
              <option value="idle">IDLE</option>
              <% } %> <% if(config.STATUS !== "dnd") { %>
              <option value="dnd">DND</option>
              <% } %> <% if(config.STATUS !== "invisible") { %>
              <option value="invisible">INVISIBLE</option>
              <% } %>
            </select>
          </div>

          <!-- START: Column 2 -->
          <div>
            <div class="mb-2">
              <label for="type" class="text-sm font-semibold text-gray-900 dark:text-white"
                ><%= tr("presence:TYPE") %></label
              >
              <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                <%= tr("presence:TYPE_DESC") %>
              </div>
            </div>
            <select
              x-model="formData.type"
              name="type"
              id="type"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
              <option selected="selected"><%= config.TYPE %></option>
              <% if(config.TYPE !== "PLAYING") { %>
              <option>PLAYING</option>
              <% } %> <% if(config.TYPE !== "LISTENING") { %>
              <option>LISTENING</option>
              <% } %> <% if(config.TYPE !== "WATCHING") { %>
              <option>WATCHING</option>
              <% } %> <% if(config.TYPE !== "COMPETING") { %>
              <option>COMPETING</option>
              <% } %>
            </select>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="grid gap-4 md:grid-cols-1 xl:grid-cols-1">
          <!-- START: Column 1 -->
          <div>
            <div class="mb-2">
              <label for="message" class="text-sm font-semibold text-gray-900 dark:text-white"
                ><%= tr("presence:MESSAGE") %></label
              >
              <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                <%= tr("presence:MESSAGE_DESC") %>
              </div>
            </div>
            <input
              x-model="formData.message"
              type="text"
              name="message"
              id="message"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:text-sm"
              required />
          </div>
          <!-- END: Column 1 -->
        </div>
      </div>
      <!-- END: Card Body -->

      <!-- START: Card Footer -->
      <div class="mt-4 flex items-center justify-between border-t border-gray-200 pt-3 dark:border-gray-700 sm:pt-6">
        <div></div>
        <div class="flex-shrink-0">
          <button
            type="submit"
            :disabled="saving"
            :class="{'opacity-50': saving}"
            class="inline-flex items-center rounded-lg bg-primary-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            <span x-show="!saving"><%= tr('BTN_SAVE') %></span>
            <span x-show="saving"><%= tr('BTN_SAVING') %></span>
          </button>
        </div>
      </div>
      <!-- END: Card Footer -->
    </form>
  </div>
</section>
