<section>
  <div class="grid gap-4 md:grid-cols-2">
    <!-- START: Col 1 (Welcome Settings)-->
    <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
      <!-- START: Card Header -->
      <div class="mb-4 flex items-center justify-between border-b-2 border-green-200 pb-4 dark:border-green-700">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-white"><%= tr("greeting:WELCOME_TITLE") %></h3>
      </div>
      <!-- END: Card Header -->

      <form x-data="{
        formData: {
          welcome_channel: '<%= settings.welcome.channel %>',
          welcome_content: '<%= settings.welcome.content?.replaceAll(/\\n/g, '&#10;') %>',
          welcome_embed_content: '<%= settings.welcome.embed.description?.replaceAll(/\\n/g, '&#10;') %>',
          welcome_embed_footer: '<%= settings.welcome.embed.footer %>',
          welcome_embed_thumbnail: <%= settings.welcome.embed.thumbnail %>,
          welcome_embed_color: '<%= settings.welcome.embed.color %>',
          welcome_embed_image: '<%= settings.welcome.embed.image %>'
        },
        saving: false,
        async submitForm(action) {
          this.saving = true;
          try {
            const response = await fetch(window.location.href, {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({
                ...this.formData,
                action: action
              })
            });
            if (!response.ok) throw new Error('Failed to update settings');
            Alpine.store('toast').show('<%=tr(`SETTINGS_SAVE`)%>', 'success');
            setTimeout(() => window.location.reload(), 500);
          } catch (error) {
            Alpine.store('toast').show('<%=tr(`SETTINGS_SAVE_ERROR`)%>', 'error');
          }
          this.saving = false;
        }
      }" @submit.prevent="submitForm($el.getAttribute('data-action'))">
        <div>
          <div class="mb-3">
            <div class="mb-2">
              <label for="welcome_channel" class="text-sm font-semibold text-gray-900 dark:text-white"><%= tr("greeting:CHANNEL_TITLE") %></label>
              <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                <%= tr("greeting:CHANNEL_DESC") %>
              </div>
            </div>
            <select id="welcome_channel" name="welcome_channel" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option selected value disabled><%= tr("CHANNEL_SELECT") %></option>
              <% channels.map((ch) => { %>
                <option value="<%= ch.id %>" <%= settings.welcome.channel === ch.id ? 'selected' : '' %>><%= ch.name %></option>
              <% }) %>
            </select>
          </div>

          <div class="mb-3">
            <div class="mb-2">
              <label for="welcome_content" class="text-sm font-semibold text-gray-900 dark:text-white"><%= tr("greeting:CONTENT_TITLE") %></label>
              <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                <%= tr("greeting:CONTENT_DESC") %>
              </div>
            </div>
            <textarea
              rows="3"
              maxlength="2000"
              id="welcome_content"
              name="welcome_content"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="<%= tr("greeting:WELCOME_PLACEHOLDER") %>"
            ><%-settings.welcome.content?.replaceAll(/\\n/g, '&#10;')%></textarea>
          </div>

          <!-- START: Embed Options -->
          <div id="accordion-collapse-welcome" data-accordion="collapse" class="mt-5">
            <h3 id="accordion-collapse-heading-welcome">
              <button 
                type="button" 
                class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" 
                data-accordion-target="#accordion-collapse-body-welcome" 
                aria-expanded="false" 
                aria-controls="accordion-collapse-body-welcome">
                <span><%= tr("greeting:EMBED_OPTIONS") %></span>
                <i class="fa-solid fa-angle-down"></i>
              </button>
            </h3>
            <div id="accordion-collapse-body-welcome" class="hidden" aria-labelledby="accordion-collapse-heading-welcome">
              <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">

                <div class="mb-3">
                  <div class="mb-2">
                    <label for="welcome_embed_content" class="text-sm font-semibold text-gray-900 dark:text-white"><%= tr("greeting:EMBED_DESC_TITLE") %></label>
                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                      <%= tr("greeting:EMBED_DESC_DESC") %>
                    </div>
                  </div>
                  <textarea
                    rows="3"
                    maxlength="2000"
                    id="welcome_embed_content"
                    name="welcome_embed_content"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  ><%-settings.welcome.embed.description?.replaceAll(/\\n/g, '&#10;')%></textarea>
                </div>

                <div class="mb-3">
                  <div class="mb-2">
                    <label for="welcome_embed_footer" class="text-sm font-semibold text-gray-900 dark:text-white"><%= tr("greeting:EMBED_FOOTER_TITLE") %></label>
                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                      <%= tr("greeting:EMBED_FOOTER_DESC") %>
                    </div>
                  </div>
                  <input
                    type="string"
                    max="2000"
                    id="welcome_embed_footer"
                    name="welcome_embed_footer"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:text-sm"
                    value="<%= settings.welcome.embed.footer %>"
                    />
                </div>

                <div class="mb-3 flex items-center justify-between">
                  <div class="flex flex-grow flex-col">
                    <div class="mb-1 text-sm font-semibold text-gray-900 dark:text-white"><%= tr("greeting:EMBED_THUMB_TITLE") %></div>
                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                      <%= tr("greeting:EMBED_THUMB_DESC") %>
                    </div>
                  </div>
                  <label for="welcome_embed_thumbnail" class="relative flex cursor-pointer items-center">
                    <% if (settings.welcome.embed.thumbnail) { %>
                      <input type="checkbox" name="welcome_embed_thumbnail" id="welcome_embed_thumbnail" class="sr-only" checked />
                    <% } else { %>
                      <input type="checkbox" name="welcome_embed_thumbnail" id="welcome_embed_thumbnail" class="sr-only" />
                    <% } %>
                    <span class="toggle-bg h-6 w-11 rounded-full border border-gray-200 bg-gray-200 dark:border-gray-600 dark:bg-gray-700"></span>
                  </label>
                </div>

                <div class="mb-3">
                  <div class="mb-2">
                    <label for="welcome_embed_color" class="text-sm font-semibold text-gray-900 dark:text-white"><%= tr("automod/dash:LOG_EMBED_TITLE") %></label>
                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                      <%= tr("automod/dash:LOG_EMBED_DESC") %>
                    </div>
                  </div>
                  <div class="grid grid-cols-2 gap-4">
                    <input
                      type="color"
                      id="welcome_embed_color"
                      name="welcome_embed_color"
                      class="block w-full h-full min-h-10 rounded-lg border border-gray-300 p-0.5 text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:text-sm"
                      value="<%= settings.welcome.embed.color %>"
                    />
                  </div>
                </div>

                <div class="mb-3">
                  <div class="mb-2">
                    <label for="welcome_embed_image" class="text-sm font-semibold text-gray-900 dark:text-white"><%= tr("greeting:EMBED_IMAGE_TITLE") %></label>
                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                      <%= tr("greeting:EMBED_IMAGE_DESC") %>
                    </div>
                  </div>
                  <input
                    type="url"
                    id="welcome_embed_image"
                    name="welcome_embed_image"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:text-sm"
                    value="<%= settings.welcome.embed.image %>"
                    />
                </div>

              </div>
            </div>
          </div>

        </div>
        <!-- END: Card Body -->

        <!-- START: Card Footer -->
        <div class="mt-4 flex items-center justify-between border-t border-gray-200 pt-3 dark:border-gray-700 sm:pt-6">
          <div>
            <% if (settings.welcome.enabled) { %>
              <button
                type="submit"
                data-action="welcome_disable"
                :disabled="saving"
                :class="{'opacity-50': saving}"
                class="inline-flex items-center rounded-lg bg-red-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                <span x-show="!saving"><%= tr("BTN_DISABLE") %></span>
                <span x-show="saving"><%= tr("BTN_SAVING") %></span>
              </button>
            <% } %>
          </div>
          <div class="flex-shrink-0">
            <% if (settings.welcome.enabled) { %>
              <button
                type="submit"
                data-action="welcome_update"
                :disabled="saving"
                :class="{'opacity-50': saving}"
                class="inline-flex items-center rounded-lg bg-primary-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                <span x-show="!saving"><%= tr("BTN_SAVE") %></span>
                <span x-show="saving"><%= tr("BTN_SAVING") %></span>
              </button>
            <% } else { %>
            <button
              type="submit"
              data-action="welcome_enable"
              :disabled="saving"
              :class="{'opacity-50': saving}"
              class="inline-flex items-center rounded-lg bg-green-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-primary-800">
              <span x-show="!saving"><%= tr("BTN_ENABLE") %></span>
              <span x-show="saving"><%= tr("BTN_SAVING") %></span>
            </button>
            <% } %>
          </div>
        </div>
        <!-- END: Card Footer -->
      </form>
    </div>
    <!-- END: Col 1 -->

    <!-- START: Col 2 (Farewell Settings) -->
    <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
      <!-- START: Card Header -->
      <div class="mb-4 flex items-center justify-between border-b-2 border-red-200 pb-4 dark:border-red-700">
        <h3 class="text-lg font-semibold text-gray-800 dark:text-white"><%= tr("greeting:FAREWELL_TITLE") %></h3>
      </div>
      <!-- END: Card Header -->

      <form x-data="{
        formData: {
          farewell_channel: '<%= settings.farewell.channel %>',
          farewell_content: '<%= settings.farewell.content?.replaceAll(/\\n/g, '&#10;') %>',
          farewell_embed_content: '<%= settings.farewell.embed.description?.replaceAll(/\\n/g, '&#10;') %>',
          farewell_embed_footer: '<%= settings.farewell.embed.footer %>',
          farewell_embed_thumbnail: <%= settings.farewell.embed.thumbnail %>,
          farewell_embed_color: '<%= settings.farewell.embed.color %>',
          farewell_embed_image: '<%= settings.farewell.embed.image %>'
        },
        saving: false,
        async submitForm(action) {
          this.saving = true;
          try {
            const response = await fetch(window.location.href, {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({
                ...this.formData,
                action: action
              })
            });
            if (!response.ok) throw new Error('Failed to update settings');
            Alpine.store('toast').show('<%=tr(`SETTINGS_SAVE`)%>', 'success');
            setTimeout(() => window.location.reload(), 500);
          } catch (error) {
            Alpine.store('toast').show('<%=tr(`SETTINGS_SAVE_ERROR`)%>', 'error');
          }
          this.saving = false;
        }
      }" @submit.prevent="submitForm($el.getAttribute('data-action'))">
        <div>
          <div class="mb-3">
            <div class="mb-2">
              <label for="farewell_channel" class="text-sm font-semibold text-gray-900 dark:text-white"><%= tr("greeting:CHANNEL_TITLE") %></label>
              <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                <%= tr("greeting:CHANNEL_DESC") %>
              </div>
            </div>
            <select id="farewell_channel" name="farewell_channel" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option selected disabled value><%= tr("CHANNEL_SELECT") %></option>
              <% channels.map((ch) => { %>
                <option value="<%= ch.id %>" <%= settings.farewell.channel === ch.id ? 'selected' : '' %>><%= ch.name %></option>
              <% }) %>
            </select>
          </div>

          <div class="mb-3">
            <div class="mb-2">
              <label for="farewell_content" class="text-sm font-semibold text-gray-900 dark:text-white"><%= tr("greeting:CONTENT_TITLE") %></label>
              <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                <%= tr("greeting:CONTENT_DESC") %>
              </div>
            </div>
            <textarea
              rows="3"
              maxlength="2000"
              id="farewell_content"
              name="farewell_content"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="<%= tr("greeting:FAREWELL_PLACEHOLDER") %>"
            ><%-settings.farewell.content?.replaceAll(/\\n/g, '&#10;')%></textarea>
          </div>

          <!-- START: Embed Options -->
          <div id="accordion-collapse-farewell" data-accordion="collapse" class="mt-5">
            <h3 id="accordion-collapse-heading-farewell">
              <button 
                type="button" 
                class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" 
                data-accordion-target="#accordion-collapse-body-farewell" 
                aria-expanded="false" 
                aria-controls="accordion-collapse-body-farewell">
                <span><%= tr("greeting:EMBED_OPTIONS") %></span>
                <i class="fa-solid fa-angle-down"></i>
              </button>
            </h3>
            <div id="accordion-collapse-body-farewell" class="hidden" aria-labelledby="accordion-collapse-heading-farewell">
              <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">

                <div class="mb-3">
                  <div class="mb-2">
                    <label for="farewell_embed_content" class="text-sm font-semibold text-gray-900 dark:text-white"><%= tr("greeting:EMBED_DESC_TITLE") %></label>
                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                      <%= tr("greeting:EMBED_DESC_DESC") %>
                    </div>
                  </div>
                  <textarea
                    rows="3"
                    maxlength="2000"
                    id="farewell_embed_content"
                    name="farewell_embed_content"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  ><%-settings.farewell.embed.description?.replaceAll(/\\n/g, '&#10;')%></textarea>
                </div>

                <div class="mb-3">
                  <div class="mb-2">
                    <label for="farewell_embed_footer" class="text-sm font-semibold text-gray-900 dark:text-white"><%= tr("greeting:EMBED_FOOTER_TITLE") %></label>
                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                      <%= tr("greeting:EMBED_FOOTER_DESC") %>
                    </div>
                  </div>
                  <input
                    type="string"
                    max="2000"
                    id="farewell_embed_footer"
                    name="farewell_embed_footer"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:text-sm"
                    value="<%= settings.farewell.embed.footer %>"
                    />
                </div>

                <div class="mb-3 flex items-center justify-between">
                  <div class="flex flex-grow flex-col">
                    <div class="mb-1 text-sm font-semibold text-gray-900 dark:text-white"><%= tr("greeting:EMBED_THUMB_TITLE") %></div>
                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                      <%= tr("greeting:EMBED_THUMB_DESC") %>
                    </div>
                  </div>
                  <label for="farewell_embed_thumbnail" class="relative flex cursor-pointer items-center">
                    <% if (settings.farewell.embed.thumbnail) { %>
                      <input type="checkbox" name="farewell_embed_thumbnail" id="farewell_embed_thumbnail" class="sr-only" checked />
                    <% } else { %>
                      <input type="checkbox" name="farewell_embed_thumbnail" id="farewell_embed_thumbnail" class="sr-only" />
                    <% } %>
                    <span class="toggle-bg h-6 w-11 rounded-full border border-gray-200 bg-gray-200 dark:border-gray-600 dark:bg-gray-700"></span>
                  </label>
                </div>

                <div class="mb-3">
                  <div class="mb-2">
                    <label for="farewell_embed_color" class="text-sm font-semibold text-gray-900 dark:text-white"><%= tr("automod/dash:LOG_EMBED_TITLE") %></label>
                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                      <%= tr("automod/dash:LOG_EMBED_DESC") %>
                    </div>
                  </div>
                  <div class="grid grid-cols-2 gap-4">
                    <input
                      type="color"
                      id="farewell_embed_color"
                      name="farewell_embed_color"
                      class="block w-full h-full min-h-10 rounded-lg border border-gray-300 p-0.5 text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:text-sm"
                      value="<%= settings.farewell.embed.color %>"
                    />
                  </div>
                </div>

                <div class="mb-3">
                  <div class="mb-2">
                    <label for="farewell_embed_image" class="text-sm font-semibold text-gray-900 dark:text-white"><%= tr("greeting:EMBED_IMAGE_TITLE") %></label>
                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                      <%= tr("greeting:EMBED_IMAGE_DESC") %>
                    </div>
                  </div>
                  <input
                    type="url"
                    id="farewell_embed_image"
                    name="farewell_embed_image"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:text-sm"
                    value="<%= settings.farewell.embed.image %>"
                    />
                </div>

              </div>
            </div>
          </div>

        </div>
        <!-- END: Card Body -->

        <!-- START: Card Footer -->
        <div class="mt-4 flex items-center justify-between border-t border-gray-200 pt-3 dark:border-gray-700 sm:pt-6">
          <div>
            <% if (settings.farewell.enabled) { %>
              <button
                type="submit"
                data-action="farewell_disable"
                :disabled="saving"
                :class="{'opacity-50': saving}"
                class="inline-flex items-center rounded-lg bg-red-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                <span x-show="!saving"><%= tr("BTN_DISABLE") %></span>
                <span x-show="saving"><%= tr("BTN_SAVING") %></span>
              </button>
            <% } %>
          </div>
          <div class="flex-shrink-0">
            <% if (settings.farewell.enabled) { %>
              <button
                type="submit" 
                data-action="farewell_update"
                :disabled="saving"
                :class="{'opacity-50': saving}"
                class="inline-flex items-center rounded-lg bg-primary-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                <span x-show="!saving"><%= tr("BTN_SAVE") %></span>
                <span x-show="saving"><%= tr("BTN_SAVING") %></span>
              </button>
            <% } else { %>
              <button
                type="submit"
                data-action="farewell_enable"
                :disabled="saving"
                :class="{'opacity-50': saving}"
                class="inline-flex items-center rounded-lg bg-green-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-primary-800">
                <span x-show="!saving"><%= tr("BTN_ENABLE") %></span>
                <span x-show="saving"><%= tr("BTN_SAVING") %></span>
              </button>
            <% } %>
          </div>
        </div>
        <!-- END: Card Footer -->
      </form>
    </div>
    <!-- END: Col 2 -->
  </div>
</section>

<%- contentFor("Autorole") %>
<section>
  <form x-data="{
    formData: {
      role_id: '<%= settings.role_id %>'
    },
    saving: false,
    async submitForm() {
      this.saving = true;
      try {
        const response = await fetch(window.location.href, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({
            ...this.formData,
            action: 'autorole'
          })
        });
        if (!response.ok) throw new Error('Failed to update settings');
        Alpine.store('toast').show('<%=tr(`SETTINGS_SAVE`)%>', 'success');
        setTimeout(() => window.location.reload(), 500);
      } catch (error) {
        Alpine.store('toast').show('<%=tr(`SETTINGS_SAVE_ERROR`)%>', 'error');
      }
      this.saving = false;
    }
  }" @submit.prevent="submitForm">
    <div class="mb-3">
      <div class="mb-2">
        <label for="role_id" class="text-sm font-semibold text-gray-900 dark:text-white"><%= tr("greeting:AUTOROLE_TITLE") %></label>
        <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
          <%= tr("greeting:AUTOROLE_DESC") %>
        </div>
      </div>
      <select name="role_id" id="role_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
        <% if (!settings.role_id) { %>
          <option selected disabled><%= tr("ROLE_SELECT") %></option>
        <% } %>
        <% roles.map((r) => { %>
          <option value="<%= r.id %>" <%= settings.role_id === r.id ? 'selected' : '' %>><%= r.name %></option>
        <% }) %>
      </select>
    </div>
    <!-- END: Card Body -->

    <!-- START: Card Footer -->
    <div class="mt-4 flex items-center justify-between border-t border-gray-200 pt-3 dark:border-gray-700 sm:pt-6">
      <div></div>
      <div class="flex-shrink-0">
        <button
          type="submit"
          :disabled="saving"
          :class="{'opacity-50': saving}"
          class="inline-flex items-center rounded-lg bg-primary-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
          <span x-show="!saving"><%= tr("BTN_SAVE") %></span>
          <span x-show="saving"><%= tr("BTN_SAVING") %></span>
        </button>
      </div>
    </div>
    <!-- END: Card Footer -->
  </form>
</section>