<section class="border-border bg-bg-panel rounded-lg border p-4 shadow-sm">
  <form
    x-data="{
      formData: {
        flag_translation: <%= settings.flag_translation %>,
      },
      saving: false,
      async submitForm() {
        this.saving = true;
        try {
          const response = await fetch(window.location.href, {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(this.formData)
          });
          
          if (response.ok) {
            Alpine.store('toast').show('<%=tr(`SETTINGS_SAVE`)%>', 'success');
          } else {
            throw new Error('Failed to update settings');
          }
        } catch (error) {
          Alpine.store('toast').show('<%=tr(`SETTINGS_SAVE_ERROR`)%>', 'error');
        } finally {
          this.saving = false;
        }
      }
    }"
    @submit.prevent="submitForm">
    <!-- START: Card Body -->
    <div class="mb-3 flex items-center justify-between">
      <div class="flex flex-grow flex-col">
        <div class="text-text mb-1 text-sm font-semibold"><%= tr("translation:FLAG_TR") %></div>
        <div class="text-text-muted text-sm font-normal"><%= tr("translation:FLAG_TR_DESC") %></div>
      </div>
      <label for="flag_tr" class="relative flex cursor-pointer items-center">
        <input type="checkbox" name="flag_tr" id="flag_tr" class="sr-only" x-model="formData.flag_translation" />
        <span class="toggle-bg border-border bg-bg-interactive h-6 w-11 rounded-full border"></span>
      </label>
    </div>
    <!-- END: Card Body -->

    <!-- START: Card Footer -->
    <div class="border-border mt-4 flex items-center justify-between border-t pt-3 sm:pt-6">
      <div></div>
      <div class="flex-shrink-0">
        <button
          type="submit"
          :disabled="saving"
          :class="{'opacity-50': saving}"
          class="bg-primary hover:bg-primary-dark focus:ring-primary inline-flex items-center rounded-lg px-3 py-2 text-center text-sm font-medium text-white focus:outline-none focus:ring-4">
          <span x-show="!saving"><%= tr('BTN_SAVE') %></span>
          <span x-show="saving"><%= tr('BTN_SAVING') %></span>
        </button>
      </div>
    </div>
    <!-- END: Card Footer -->
  </form>
</section>
